body {
  margin: 0;
  background-color: black;
  color: hsla(0, 0%, 100%, .75);
  font-family: Montserrat, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hidden {
  display: none !important;
}

.ElasticView {
  margin: 0 32px;
}

.Header {
  height: 104px;
  line-height: 104px;
  color: #976ff3;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}


.ElasticFilter {
  display: flex;
  justify-content: space-between;
  
  margin: 2px 0;
  padding: 0 11px;
  overflow: hidden;
  
  height: 38px;
  line-height: 38px;
  
  transition: color 0.3s ease, background-color 0.3s ease;
}
.ElasticFilter:hover {
  color: white;
}
.ElasticFilter_active,
.ElasticFilter:hover,
.ElasticFilter_empty {
  background-color: #4e485c;
}
.ElasticFilter__name {
  max-width: calc(100% - 25px);
}
.ElasticFilter__number {
  max-width: 50px;
}
.ElasticFilter_empty:not(.ElasticFilter_active) {
  display: none;
}


.ElasticFilterList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  border-bottom: #4e485c 2px solid;
}
.ElasticFilterList__column {
  overflow-x: hidden;
  flex-basis: 0;
  
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
}
.ElasticFilterList__column:not(:last-child) {
  margin-right: 25px;
}
.ElasticFilterList__column:not(.ElasticFilterList__column--sort-lock):hover .ElasticFilterList__header {
  color: white;
  cursor: pointer;
}
.ElasticFilterList__header {
  display: flex;
  justify-content: space-between;
  
  height: 26px;
  line-height: 26px;
  
  color: #4e485c;
  border-bottom: #4e485c 1px solid;
}
.ElasticFilterList__filters {
  position: relative;
}
.ElasticFilterList__filters-content {
  height: 400px;
  overflow-x: hidden;
}
.ElasticFilterList__filters-content::-webkit-scrollbar {
  display: none;
}

.ElasticFilterList__filters-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ElasticFilterList__filters-shadow::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 22px;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0,rgba(0,0,0,0) 100%);
}

.ElasticFilterList__filters-shadow::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 22px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0,rgb(0,0,0) 100%);
}

.ElasticFilterList--sticky {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 32px;
  right: 32px;
  background-color: black;
}
.ElasticFilterList--sticky + .ElasticItemList {
  margin-top: 463px;
}
.ElasticFilterList--sticky .ElasticFilterList__filters {
  height: 50px;
}


.ElasticItemList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1400px;
}


.ElasticItem {
  margin: 6px;
}


.Type1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 396px;
  height: 200px;
  
  padding: 25px;
  
  font-size: 11px;
  color: #9e9e9e;
  text-transform: uppercase;
}
.Type1.now1 {
  background: #403A4F;
}
.Type1.now2 {
  background: black;
}
.Type1.now3 {

}
.Type1__content {
  text-transform: none;
}
.Type1__content-elem1 {
  color: white;
  font-size: 24px;
  margin-bottom: 6px;
}
.Type1__content-elem2 {
  display: flex;
}
.Type1__content-elem2-1:after {
  content: ',\00a0';
}
.Type1__footer-static-text {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 6px;
}
.Type1__footer-links {
  display: flex;
  justify-content: space-between;
}
.Type1__footer-links a {
  font-size: 15px;
  color: #976FF3;
  text-decoration: none;
}
.Type1__footer-links-right-column {
  display: flex;
}
.Type1__mende {
  margin-right: 6px;
}



.Type1__background.bg-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  opacity: 0.5;
}