body {
  margin: 0;
  background-color: black;
  color: hsla(0, 0%, 100%, .75);
  font-family: Montserrat, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ElasticView {
  margin: 0 32px;
}

.Header {
  height: 104px;
  line-height: 104px;
  color: #976ff3;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}


.ElasticFilter {
  display: flex;
  justify-content: space-between;
  
  margin: 2px 0;
  padding: 0 11px;
  overflow: hidden;
  
  height: 38px;
  line-height: 38px;
  
  transition: height 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}
.ElasticFilter:hover {
  color: white;
}
.ElasticFilter_active,
.ElasticFilter:hover,
.ElasticFilter_empty {
  background-color: #4e485c;
}
.ElasticFilter__name {
  max-width: calc(100% - 25px);
}
.ElasticFilter__number {
  max-width: 50px;
}
.ElasticFilter_empty:not(.ElasticFilter_active) {
  height: 8px;
  color: #4e485c;
}


.ElasticFilterList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  border-bottom: #4e485c 2px solid;
}
.ElasticFilterList__column {
  width: 100%;
  overflow-x: hidden;
  
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
}
.ElasticFilterList__column:not(:last-child) {
  margin-right: 25px;
}
.ElasticFilterList__column:hover .ElasticFilterList__header {
  color: white;
}
.ElasticFilterList__header {
  height: 26px;
  line-height: 26px;
  
  color: #4e485c;
  border-bottom: #4e485c 1px solid;
}
.ElasticFilterList__filters {
  height: 400px;
  overflow-x: hidden;
}
.ElasticFilterList__filters::-webkit-scrollbar {
  display: none;
}


.ElasticItemList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.ElasticItem {
  margin: 6px;
}


.Type3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  
  padding: 25px;
  
  font-size: 11px;
  background: #403A4F;
  color: #9e9e9e;
  text-transform: uppercase;
}
.Type3__header {
  display: flex;
  justify-content: space-between;
}
.Type3__content {
  text-transform: none;
}
.Type3__content-elem1 {
  color: #976FF3;
  font-size: 15px;
}
.Type3__content-elem2 {
  color: white;
  font-size: 24px;
}
.Type3__footer {
  text-transform: none;
}
.Type3__footer-elem1:before {
  content: 'by\00a0'
}
